h1 {
    text-align: center;
}

.jumbo {
    background-image: url('./src/assets/paesaggio.jpg');
    background-size: cover;
    background-position: center;
    color: #000000;
    text-align: center;
    padding: 10px;
}

.jumbo p {
    max-width: 600px;
    margin: 0 auto;
    padding: 10px;
    margin-bottom: 50px;
}